<div ng-controller="HomeCtrl">
  <div class="page-header">
    <h1>
      {{title}} 
      <small> made with Ruby On Rails & Angular.js</small>
    </h1>

    <div class="input-group col-md-4">
      <input type="text" class="form-control" ng-model="search" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
    
  <div ng-repeat="condition in conditions | filter: search | orderBy:'-synonyms.length' | limitTo: 5">
    <h2>    
      <a open-modal class="modal-link">{{condition.label}} - {{condition.cui}}</a>
    </h2>
    
    <h3>Synonyms:</h3>
    <ul ng-repeat="synonym in condition.synonyms">
      <li>{{synonym}}</li>
    </ul>
  </div>

</div>
